
.notification-box > div {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
    color: black;
}

.notification  {
    border: solid 2px gray;
    color: black;
    background-color: antiquewhite;
}

.success  {
    border: solid 2px green;
    background-color: lightgreen;
}

.error {
    border: solid 2px red;
    background-color: lightcoral;
}